html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #1b2433;
  background: #f1f5ff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #e2e8f0;
    background: #060c1a;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
